/* Custom styles */

.profile-img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.profile-img:hover {
    transform: scale(1.05);
}

.divider {
    border-top: 1px solid #e9ecef;
    margin: 30px 0;
}

.btn-primary {
    background-color: #347c2a;
    border-color: #347c2a;
}

.btn-primary:hover {
    background-color: #296322;
    border-color: #296322;
}

#summary {
    background-color: #f8f9fa;
}

h2 {
    color: #0832a3;
    margin-bottom: 10px;
}

.jumbotron {
    background-color: #f8f9fa;
    margin-bottom: 15px;
}

.card {
    border: none;
    background-color: transparent;
}

.card-body {
    padding: 15px; 
  }

  #summary ul, #contact p {
    margin-bottom: 5px;
  }
  
  .card-body {
    padding: 10px; /* Reduced padding */
  }


.container {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .section-bg {
    background-color: #f8f9fa;
    margin-bottom: 5px; 
    padding: 10px 0; 
  }



  .logo-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.logo-img {
    width: 200px;
    height: auto;
    transition: transform 0.3s ease;
}

.logo-img:hover {
    transform: scale(1.1);
}